.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(29, 28, 28);
  margin-top: 0;
  height: 70px;
  color: whitesmoke;
}
.nav > li:hover {
  color: blue;
}
.productsContainer {
  display: flex;
}
.add,
.remove {
  background-color: rgb(17, 130, 51);
  color: white;
  padding: 5px;
  width: 300px;
  border-radius: 0.5rem;
  margin-top: 10px;
}
.remove {
  background-color: rgb(190, 36, 16);
  margin-top: 10px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  border-radius: 0.5rem;
  width: 70%;
}
.singleProduct {
  border: 1px solid grey;
  margin-left: 10px;
  margin-top: 10px;
  width: 310px;
  height: 300px;
  padding: 2px;
  word-break: keep-all;
}
.prodDesc {
  margin-top: 30px;
}
.prodImg {
  width: 300px;
  height: 150px;
  border: 1px solid black;
}
.cartImg {
  /* border: 1px solid grey; */
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 100px;
  padding: 2px;
  word-break: keep-all;
}
.qtyAddBtn,
.qtyRemoveBtn {
  border: 1px solid grey;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
